@import-normalize;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

p {
  margin: 10px 0;
}

.preloader {
  height: 130px;
  background: url("../src/img/Loading_icon.gif") center center no-repeat;
}